body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#herosection {
    background-image: url("../images/hero-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    height: 800px
}

nav {
    padding-left: 40px;
    padding-right: 40px;
    size: 20px;
}

.nav-link {
    color: white;
}

#navbar-logo {
    size: 20px;
}

.hamburger {
    width:180px ;
    text-align: right;
    justify-content: right;
}

.jumbotron {
    display: flex;
    align-items: center;
    justify-content: center;
    height:60%;
}

.jumbotron h1 {
    color: white;
    font-weight: 600;

}

.jumbotron .my-4 {
    background-color: white;
}


.jumbotron p {
    text-align: center;
    color: white;

}

